<div class="container-fluid">
  <div class="display-3 m-2">ToDo App Demo</div>
  <p *ngIf="!isLoading && todos.length === 0" class="m-2">No items yet.</p>

  <form (ngSubmit)="addTodoItem()">
    <input type="text"
           [(ngModel)]="newItemName"
           name="itemName"
           placeholder="Do groceries"
           class="form-control m-2" />
    <button type="submit" class="btn btn-primary m-2">Add New Item</button>
  </form>

  <div *ngIf="isLoading" class="spinner-border m-2">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div *ngIf="error" class="alert alert-danger m-2">{{ error }}</div>

  <div *ngIf="!isLoading && todos.length > 0">
    <p class="display-6 m-2">Items List</p>
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let todo of todos">
          <td class="m-2">{{ todo.itemName }}</td>
          <td>
            <button (click)="deleteTodoItem(todo.id)" class="btn btn-sm btn-danger m-2">X</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
